body {
  max-width: 600px;
  margin: 0 auto;
  border-color: darkblue;
  font-family: "Outfit", sans-serif;
}

ul {
  list-style: none;
  display: inline-block;
}

footer {
  margin: 5px auto;
  padding: 0px 50px;
}

.current-city {
  color: blue;
  margin: 20px auto;
  line-height: 20px;
  font-weight: bolder;
  font-size: 24px;
  text-align: center;
}

.current-forecast {
  color: blue;
  margin: 0 auto;
  line-height: 20px;
  font-weight: bolder;
  font-size: 24px;
  text-align: center;
}

.container {
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: cornflowerblue;
  background: linear-gradient(
    181.2deg,
    rgb(181, 239, 249) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
  margin: 20px 40px;
  padding: 20px 50px;
  display: block;
}

.search-form,
#date {
  text-align: center;
}

.wind-humidity {
  color: rgb(92, 90, 90);
  padding-left: 100px;
  padding-top: 30px;
  font-weight: bold;
}

.circle-wrap-conditions {
  border-radius: 80px;
  border-style: solid;
  border-width: 2px;
  border-color: cornflowerblue;
  max-width: 300px;
  margin: 0 auto;
}

.weather-forecast {
  margin-top: 20px;
  text-align: centre;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
  color: #000;
  text-align: center;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-image {
  display: block;
  max-width: 55px;
}

#description {
  text-transform: capitalize;
  text-align: center;
  font-size: 24px;
}
#celsius-link,
#fahrenheit-link,
.active {
  text-decoration: none;
}

#units .active:hover {
  cursor: pointer;
}

#date {
  padding-bottom: 10px;
}
