body {
  max-width: 600px;
  border-color: darkblue;
  font-family: "Outfit", sans-serif;
}

ul {
  list-style: none;
  display: inline-block;
}

footer {
  margin: 5px auto;
  padding: 0px 50px;
}

.current-city,
.current-forecast {
  color: blue;
  margin: 20px auto;
  line-height: 20px;
  font-weight: bolder;
  font-size: 24px;
  text-align: center;
}

.container {
  border-radius: 20px;
  background-color: rgb(167, 248, 248);
  margin: auto 40px;
  padding: 20px 50px;
  display: block;
}

.search-form,
#date {
  text-align: center;
}

.wind-humidity {
  color: red;
}

#description {
  text-transform: capitalize;
  text-align: center;
}
#celsius-link,
#fahrenheit-link,
.active {
  text-decoration: none;
}

#units .active:hover {
  cursor: default;
}

.weather-forecast {
  margin-top: 20px;
  text-align: centre;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
  color: #000;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-imgage {
  display: block;
  margin-left: 0 auto;
}
